.App {

  background-color: #282c34;
  font-size: calc(2px + 2vmin);
  color: #61dafb;
}

.Figure {
  min-width: 400px;
  max-width: 450px;
  min-height: 450px;
  max-height: 450px;
}

.buttons {
  margin: 80px;
  background-color: transparent;
  color: #61dafb;
  border-radius: 5px;
  border-width: medium;
  border-color: #61dafb;
  width: 7vw;
  height: 4vh;
  font-size: 16px;
}

.Card{
  
  min-width: 275px;
  min-height: 275px;
  border-color: black;
}

img {
  max-width: 450px;
  max-height: 450px;
}

.metadata {
  margin: 10px;
}