.App {
  margin: 30px;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: black;
  background-color: whitesmoke;
}

.Figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  max-width: 2000px;
  min-height: 450px;
  max-height: 450px;
}

.buttons {
  margin: 80px;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  border-width: medium;
  border-color: black;
  width: 7vw;
  height: 4vh;
  font-size: 16px;
}

.Box{
  min-width: 275px;
  min-height: 275px;
  border-color: black;
}

img {
  max-width: 450px;
  max-height: 450px;
}

.metadata {
  margin: 10px;
}

